/* CSS variables */
:root{
    --width: 800px;
    --height: 800px;
}

#content {
    margin: auto;
    width: 1010px;
}

#controls {
    margin: auto;
    display: block;
    width: 580px;
}


#draw {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 5px black;
}