/* CSS variables */
:root{
    --width: 800px;
    --height: 800px;
}

#content {
    margin: auto;
    width: auto;
}

#controls {
    margin: auto;
    width: auto;
}


#draw {
    border: 3px solid #444444;
}